.navbar{
  background-color:rgb(18, 18, 69);
  position:sticky;
  z-index:1000;
 
}

 .example-spacer {
   flex: 1 1 auto;
 }
 .list{
  display:flex;
  align-items: center;
  gap:5px;
  font-family: 'EB Garamond', serif;
  cursor:pointer;
  justify-content:space-evenly;
  width:100%;
  
  /* column-gap:36px; */
 
 }
 .list a{
  color:white;
 }
 .mat-list-item {
  
   display: flex;
   /* flex-direction:column-reverse; */
   justify-content:center;
   text-align: center;
   /* align-items:center; */

   /* color:black; */
   
 }
 .content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  color:black;
  padding-bottom:15%;
  
 }