<section id="home">
<div class="container">
  <p style ="background-image:url('./assets/portfoliobackground2.webp');
     background-repeat: no-repeat;
    background-position: 0 100%;
    background-size:cover;
    height:670px;
    width:100%;"></p>
  <!-- <img class="backgroundimage" src=".\assets\portfoliobackground2.webp"> -->
  <div class="container-text">
    <h1>Hello,I'm <b>Nisha Joshi</b></h1>
    <div class="sub-heading"><h1>I'm a Frontend Developer</h1></div>
  </div>
  </div>
</section>